html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav li {
    margin: 0 16px;
    color: #51565E;
}

.nav-link:hover {
    color: #052F6C;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-top: 48px;
    overflow: hidden;
}

.home-content {
    display: flex;
}

.home-text {
    flex: 1;
    padding-top: 2rem;
}

.home-text p {
    color: #838fa1;
    margin-bottom: 36px;
}

.home-text h1 {
    color: #052F6C;
    margin-bottom: 24px;
}

.button {
    background-color: #27AAE2;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 10px;
}

.home-image {
    flex: 1;
}

.home-image img {
    width: 350px;
}

.about {
    display: flex;
    align-items: center;
    padding-top: 48px;
    min-height: 100vh;
    background-color: #F4FCFF;
    padding-bottom: 48px;
    overflow: hidden;
}

.about-content {
    display: flex;
}

.about-image {
    flex: 1;
}

.about-text {
    flex: 1;
}

.about-text h1 {
    margin-bottom: 24px;
    color: #052F6C;
}

.about-text p {
    color: #838fa1;
}

.about-image img {
    width: 550px;
}

.heading {
    text-align: center;
    padding-top: 48px;
    margin-bottom: 24px;
    color: #052F6C;
}

.benefit-section {
    padding-bottom: 48px;
    overflow: hidden;
}

.benefit-section .card {
    border-radius: 20px;
    padding: 12px;
    cursor: pointer;
    border: 0;
}

.benefit-section .btn {
    background-color: #27AAE2 !important;
    border: 0;
}

.benefit-section .card p {
    color: #838fa1;
}

.benefit-section .card h1 {
    color: #052F6C;
}

.faq-section {
    background-color: #F4FCFF;
    padding-bottom: 48px;
    overflow: hidden;
}

.faq-section .accordion-item {
    margin-bottom: 24px;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.cta-content {
    background-color: #01F1FE;
    padding: 64px 48px;
    display: flex;
    justify-content: center;
    border-radius: 24px;
}

.cta-text .button-container {
    display: flex;
    justify-content: center;
}

.cta-content h3 {
    text-align: center;
    margin-bottom: 36px;
    color: #052F6C;
}

.cta-content .button {
    display: inline-block;
}

.footer {
    background-color: #F4FCFF;
    padding-top: 48px;
}

.footer .heading {
    padding-top: 0px;
    color: #052F6C;
}

.footer .footer-img p {
    color: #838fa1;
}

.footer .footer-links {
    text-align: center;
}

.footer .footer-links p a {
    text-decoration: none;
    color: #838fa1;
}

.footer .footer-konsultasi {
    text-align: center;
}

.footer .footer-konsultasi p a {
    text-decoration: none;
    color: #838fa1;
}

/* HANDPHONE */
@media (max-width:576px) {
    html {
        font-size: 80%;
    }

    nav img {
        width: 150px;
    }

    nav li {
        text-align: center;
    }

    .container {
        padding: 0px 24px;
    }

    .home {
        min-height: 100vh;
        padding-top: 24px;
    }

    .home-content {
        display: block;
        text-align: center;
    }

    .home-content img {
        width: 80%;
        padding-top: 48px;
    }

    .about-image {
        display: flex;
        justify-content: center;
        order: 2;
        margin-top: 24px;
    }

    .about {
        min-height: auto;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-content img {
        width: 100%
    }

    .benefit-section .card img {
        width: 95%;
    }

    .cta {
        min-height: auto;
        padding: 48px 0;
    }

    .footer .footer-img img {
        width: 150px;
    }

    .footer .footer-konsultasi {
        text-align: left;
    }

    .footer .footer-links {
        text-align: left;
    }

    .footer .heading {
        text-align: left;
    }
}